In [ ]:
'''
create-sample.py
create sample test data
'''

In [1]:
import os
import pandas as pd

### load, sample and save

In [2]:
columns = ['CASENO','FORM_REPT_NO','rd_inv','milepost','RTE_NBR','lat','lon','MONTH','DAYMTH','WEEKDAY','RDSURF',
           'LIGHT','weather','rur_urb','REPORT','SEVERITY','veh_count','LSHL_TYP','MED_TYPE','RD_LIGHT','RSHL_TYP',
           'RURURB','SURF_TYP','EW_IND','COUNTY','FUNC_CLS','CITY','ROAD_INV','SPD_LIMT','BEGMP','ENDMP','ACSEQ_NB',
           'LSHLDWID','MEDWID','NO_LANES','RSHLDWID','lanewid','rdwy_wid','AADT','mvmt','deg_curv','dir_grad',
           'pct_grad']
df = pd.DataFrame(columns=columns)

In [3]:
mydir = '../../data/crash-merged/'
for file in os.listdir(mydir):
    if file.endswith(".csv"):
        tmp = pd.read_csv(mydir + file)
        tmp = tmp.sample(n = 500, random_state=0)
        df = df.append(tmp).reset_index(drop=True)

In [4]:
df.to_csv('../tests/test-data/sample.csv', index=False)

In [5]:
df

,CASENO,FORM_REPT_NO,rd_inv,milepost,RTE_NBR,lat,lon,MONTH,DAYMTH,WEEKDAY,...,MEDWID,NO_LANES,RSHLDWID,lanewid,rdwy_wid,AADT,mvmt,deg_curv,dir_grad,pct_grad
0,201500519,E390422,005,258.66,5,48.752068,-122.463096,1,5,1,...,80,4,10,12,48,59074.0,7.12,0.00,-,3.80
1,2015023769,E439713,405,18.74,405,47.563567,-122.186911,6,29,1,...,20,6,10,12,72,192843.0,25.34,0.25,+,1.60
2,201500406,E390255,900,8.71,900,47.496859,-122.194014,1,5,1,...,0,4,0,15,60,25838.0,0.09,0.00,-,0.37
3,2015015284,E421629,099,36.54,99,47.467150,-122.232311,5,2,6,...,12,4,0,12,48,34657.0,0.63,0.00,-,0.03
4,2015018427,E428477,090,25.61,90,47.470407,-122.332319,5,27,3,...,150,7,10,12,84,46392.0,2.54,0.00,-,1.68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2013012192,E239680,005,122.78,5,47.226290,-122.427598,4,17,3,...,12,6,10,12,72,116606.0,10.64,1.00,+,1.03
2496,2013001745,E221068,410,4.53,410,47.232244,-122.438819,1,9,3,...,0,4,8,14,56,47726.0,0.17,0.00,+,5.10
2497,2013013303,E241221,005,0.39,5,47.384475,-120.250496,4,30,2,...,24,6,10,12,72,124290.0,0.91,0.00,+,0.50
2498,2013010129,E235821,243,9.89,243,48.102827,-122.802833,3,30,6,...,0,2,6,12,24,2808.0,1.25,0.00,+,0.58
2499,2013002184,3395176,532,5.90,532,47.790539,-122.366784,1,14,1,...,0,2,8,11,22,16251.0,0.06,2.65,-,1.38